:root{--px:0;--py:0}
.env-bg{
  transform:translate(calc(var(--px)*-6px),calc(var(--py)*-6px));
}
.card,.mail{
  transform:translate(calc(var(--px)*-2px),calc(var(--py)*-2px));
}
.otp{
  font-weight:900;
  background:linear-gradient(90deg,#22c55e,#7c3aed);
  -webkit-background-clip:text;
  color:transparent;
}